@model IndexModel;

@{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Table/_LayoutTable.cshtml";
    var products = Model.Products;
}

<div class="text-center">
    <h1 class="display-4">Домашнее задание</h1><br/>

    <form action="@Url.Action("CreateProduct", "Table")" method="Post">
        <fieldset>
            <h5>Добавить товар:</h5>
            <div>
                <label>Название:</label>
                <input type="text" placeholder="название" name="title" value="" required/>
            </div>
            <div>
                <label>Описание:</label>
                <input type="text" placeholder="описание" name="description" value="" required/>
            </div>
            <div>
                <label>Стоимость за шт.:</label>
                <input type="number" placeholder="количество" name="price" value="" required/>
            </div>
            <div>
                <label>Количество:</label>
                <input type="number" placeholder="стоимость" name="quantity" value="" required/><br/>
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Отправить"/><br/>
            </div>
        </fieldset>
    </form>

    <h2>Товары на складе</h2>
    <table class="table-wrapper">
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена за штуку</th>
            <th>Количество</th>
            <th>Действия</th>
        </tr>
        <tr class="tr_align-center">
            <td><i>Целое число</i></td>
            <td><i>Текст</i></td>
            <td><i>Текст</i></td>
            <td><i>Дробное число</i></td>
            <td><i>Целое число</i></td>
            <td><i>Иконки действий</i></td>
        </tr>
        @for (int i = 0; i < products.Count; i++)
        {
            <tr id="row_@i" class="tr_padding-left">
                @* <td><input type = "checkbox" hidden id="is_edit_@i" checked="checked"/></td> *@
                <td>@products[i].Id</td>
                <td id="title_text_@i">@products[i].Title</td>
                <td id="description_text_@i">@products[i].Description</td>
                <td id="price_num_@i">@products[i].Price</td>
                <td id="quantity_num_@i">@products[i].Quantity</td>
                <td class="align-center">
                    <div id="viewState_@i">
                        <button class="buttons" id="editButton_@i" onclick="onEditClick(@i)">&#10000</button>
                        <button class="buttons" id="deleteButton_@i" onclick="onDeleteClick(@i)">&#10008</button>
                    </div>
                    <div class="d-none" id="editState_@i">
                        <button class="buttons" id="approveButton_@i" onclick="onApproveClick(@i)">&#9989</button>
                        <button class="buttons" id="declineButton_@i" onclick="onDeclineClick(@i)">&#10060</button>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

@section Footer {
    © Наш Копирайтинг
}