@model IndexModel;

@{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Table/_LayoutTable.cshtml";
    var products = Model.Products;
}

<div class="text-center">
    <h1 class="display-4">Домашнее задание</h1><br/>
    <h2>Добавить товар:</h2>
    
    <form action="@Url.Action("CreateProduct", "Table")" method="Post">
        Название:<br/>
        <input type="text" placeholder="название" name="title" value=""/><br/>
        Описание:<br/>
        <input type="text" placeholder="описание" name="description" value=""/><br/>
        Количество:<br/>
        <input type="number" placeholder="количество" name="price" value=""/><br/>
        Стоимость за шт.:<br/>
        <input type="number" placeholder="стоимость" name="quantity" value=""/><br/><br/>
        <input type="submit" value="Create"/><br/>
    </form>
    
    <table class="table-wrapper">
        <tr>
            <th class="id">Id</th>
            <th>Название</th>
            <th class="description">Описание</th>
            <th>Цена за штуку</th>
            <th>Количество</th>
            <th>Действия</th>
        </tr>
        <tr>
            <td class="id"><i>Целое число</i></td>
            <td><i>Текст</i></td>
            <td class="description"><i>Текст</i></td>
            <td><i>Дробное число</i></td>
            <td><i>Целое число</i></td>
            <td><i>Иконки действий</i></td>
        </tr>
        @for (int i = 0; i < products.Count; i++)
        {
            <tr>
                <td class="id">@(i + 1)</td>
                <td>@products[i].Title</td>
                <td class="description">@products[i].Description</td>
                <td>@products[i].Price</td>
                <td>@products[i].Quantity</td>
                <td>✎⌫</td>
            </tr>
        }
    </table>
</div>

@section Footer {
    © Наш Копирайтинг
}